<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markers' settings</title>
    <?!= include('template/markersSettings/nouislider'); ?>
    <?!= include('template/markersSettings/nouisliderCss'); ?>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <?!= include('template/markersSettings/markersSettingsStyle'); ?>
</head>

<body class="full-height">
    <div class="container">
        <form class="form form-modal row" id="markers-settings-form">
            <div class="container col s12 row">
                <div class="" id="test-slider"></div>
            </div>
            <div class="container col s7 row valign-wrapper">
                <span class="text col s3">Poniżej</span>
                <div class="input-field col s3">
                    <input id="green-value" type="number" min="0" max="" class="validate input-day">
                    <label for="green-value" class="">Dni</label>
                </div>
                <span class="text col s3">Zielony</span>
            </div>
            <div class="container col s7 row valign-wrapper">
                <span class="text col s3">Powyżej</span>
                <div class="input-field col s3">
                    <input id="yellow-value" type="number" min="0" max="" class="validate input-day">
                    <label for="yellow-value" class="">Dni</label>
                </div>
                <span class="text col s3">Żółty</span>
            </div>
            <div class="container col s7 row valign-wrapper">
                <span class="text col s3">Powyżej</span>
                <div class="input-field col s3">
                    <input id="orange-value" type="number" class="validate input-day">
                    <label for="orange-value" class="">Dni</label>
                </div>
                <span class="text col s3">Pomarańczowy</span>
            </div>
            <div class="container col s7 row valign-wrapper">
                <span class="text col s3">Powyżej</span>
                <div class="input-field col s3">
                    <input id="red-value" type="number" class="validate input-day">
                    <label for="red-value" class="">Dni</label>
                </div>
                <span class="text col s3">Czerwony</span>
            </div>

            <div class="col s12">
                <button id="cancel-button"
                    class="btn waves-effect waves-green darken-1 transparent black-text z-depth-0 col s3"
                    tabindex="4">Anuluj</button>
                <button id="submit-button"
                    class="btn waves-effect waves-light green darken-1 z-depth-0 col s3 offset-s4" type="submit"
                    name="action" tabindex="3">
                    Zapisz
                </button>
            </div>
            <div class="progress-wrapper row col s10 hide">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </form>
    </div>

    <?!= include('template/markersSettings/markersSettingsScript'); ?>
</body>

</html>