<script>
  const cancelBtnID = 'cancel-button';
  const formID = 'markers-settings-form';
  const idAttribute = "id";
  const inputDaySelector = ".input-day";
  const lowValueInputId = "green-value";
  const mediumValueInputId = "yellow-value";
  const progressWrapperSelector = '.progress-wrapper';
  const sliderId = "marker-slider";
  const uiSliderActiveClassName = "noUi-active";
  const uiSliderMarkersSelector = ".noUi-handle";
  const submitBtnID = 'submit-button';

  const cancelBtnEl = document.getElementById(cancelBtnID);
  const formEl = document.getElementById(formID);
  const inputs = [...document.querySelectorAll(inputDaySelector)];
  const progressWrapperEl = document.querySelector(progressWrapperSelector);
  const sliderEl = document.getElementById(sliderId);
  const submitBtnEl = document.getElementById(submitBtnID);

  const createSlider = (sliderEl, initialValues = [30, 60, 90]) => {
    noUiSlider.create(sliderEl, {
      start: initialValues,
      connect: [true, true, true, true],
      margin: 1,
      step: 1,
      range: {
        'min': 0,
        'max': 100
      },
      format: wNumb({
        decimals: 0
      }),
      pips: {
        mode: 'range',
        density: 100,
        format: wNumb({
          decimals: 0,
          postfix: "<br>dni"
        }),
      }
    });
  }

  const convertTypesToNumInArr = (array) => (array.map(element => parseInt(element, 10)));

  const closeModal = () => {
    google.script.host.close();
  }

  const setMarkersColorsValues = (e) => {
    e.preventDefault();
    submitBtnEl.classList.add('disabled');
    progressWrapperEl.classList.remove('hide');
    const values = sliderEl.noUiSlider.get();
    const valuesNum = convertTypesToNumInArr(values);
    const rangeValues = JSON.stringify([valuesNum]);
    google.script.run
      .withSuccessHandler(closeModal)
      .setMarkersValues(rangeValues);
  }

  const handleInputChange = (e) => {
    const values = inputs.map(input => parseInt(input.value, 10))
    if (e.target.getAttribute(idAttribute) === lowValueInputId) {
      values.splice(1, 1);
    }
    else {
      values.shift();
    }
    sliderEl.noUiSlider.set(values)
  }

  const handleInputEvent = (e) => {
    const values = inputs.map(input => parseInt(input.value, 10));
    const id = e.target.getAttribute(idAttribute);
    if (id === lowValueInputId) {
      const input = inputs.find(input => input.getAttribute(idAttribute) === mediumValueInputId)
      input.value = e.target.value
    }
    else if (id === mediumValueInputId) {
      const input = inputs.find(input => input.getAttribute(idAttribute) === lowValueInputId)
      input.value = e.target.value
    }
  }

  const handleSliderUpdate = (values, handle) => {
    const valuesNum = values.map(val => parseInt(val, 10));
    inputs.forEach((input, index) => {
      if ([0, 1].includes(index)) {
        input.value = valuesNum[0];
        input.max = valuesNum[1] - 1;
        return;
      }
      else if (index === inputs.length - 1) {
        input.value = valuesNum[index - 1];
        input.min = valuesNum[index - 2] + 1;
        return
      }
      input.value = valuesNum[index - 1];
      input.min = valuesNum[index - 2] + 1;
      input.max = valuesNum[index] - 1;
    })
  }

  const initialValuesJSON = sliderEl.dataset.values;
  const initialValues = JSON.parse(initialValuesJSON);
  createSlider(sliderEl, initialValues);
  document.querySelectorAll(uiSliderMarkersSelector).forEach(el =>
    el?.classList.add(uiSliderActiveClassName)
  )
  inputs.forEach(input => {
    input.addEventListener('change', handleInputChange)
    input.addEventListener('input', handleInputEvent)
  })
  cancelBtnEl.addEventListener('click', closeModal);
  formEl.addEventListener('submit', setMarkersColorsValues);
  sliderEl.noUiSlider.on('update', handleSliderUpdate);
</script>