<script>
  const mapEl = document.getElementById('mapid');
  const markersColorsValuesJSON = mapEl.dataset.markersValues;
  const [lowVal, mediumVal, highVal] = JSON.parse(markersColorsValuesJSON);
  const defaultCoordinates = {
    lat: 52.215933,
    lng: 19.134422
  };
  const { LATITUDE: HOME_LAT, LONGITUDE: HOME_LNG } = COORDINATES.HOME;
  const viewCoordinates = {
    lat: HOME_LAT ?? defaultCoordinates.lat,
    lng: HOME_LNG ?? defaultCoordinates.lng
  }

  const map = new L.map(mapEl, {
    fullscreenControl: true,
  }).setView(viewCoordinates, 12);
  const OpenStreetMap_Mapnik = L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
      maxZoom: 19,
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }
  );
  map.addLayer(OpenStreetMap_Mapnik);

  const createIcon = ({ className, html, iconAnchor, iconSize, popupAnchor, tooltipAnchor }) => {
    const icon = L.divIcon({
      className,
      html,
      iconAnchor,
      iconSize,
      popupAnchor,
      tooltipAnchor,
    });

    return icon;
  }

  const iconsObj = {};
  ICON_TEMPLATES.forEach((icon) => {
    const newIcon = createIcon(icon);
    const iconName = icon.iconName;
    iconsObj[iconName] = newIcon;
  });

  if (HOME_LAT !== undefined && HOME_LNG !== undefined) {
    const marker = L.marker(
      viewCoordinates,
      { icon: iconsObj.iconHome }
    ).addTo(map);
    marker.bindTooltip("Dom", { direction: "top" });
  }

  const handleSuccessButton = (row, { elementsToToggle, elementsToInsertData }) => {
    const successMsg = `Rekord znajduje się w wierszu nr: <strong class="info info-record-number">${row}</strong></span>`
    const noFoundMsg = "Niestety nie udało się znaleźć szukanego rekordu";
    const methodToUse = row === null ? "add" : "remove";
    elementsToInsertData.forEach(element => {
      element.innerHTML = row === null ? noFoundMsg : successMsg;
      element.classList[methodToUse]('error');
    });
    elementsToToggle.forEach((element) => element.classList.toggle("hidden"));
    google.script.host.editor.focus();
  };

  const onSuccess = (markersJSON) => {
    const markersParsed = JSON.parse(markersJSON);
    const markers = markersParsed.filter(({ lat, lng }) => lat && lng);
    const { iconDefault, iconHot, iconNoData, iconWarning, iconWarningLight } = iconsObj;
    markers.forEach(
      ({
        client,
        city,
        address,
        telephone,
        sale,
        lastSale,
        lastSaleDayCount,
        lat,
        lng,
      }) => {
        let icon = null;
        if (lastSaleDayCount > highVal) {
          icon = iconHot;
        } else if (lastSaleDayCount > mediumVal) {
          icon = iconWarning;
        } else if (lastSaleDayCount > lowVal) {
          icon = iconWarningLight;
        } else if (lastSaleDayCount === "") {
          icon = iconNoData;
        } else {
          icon = iconDefault;
        }

        const handlePopuOpen = function (e) {
          marker.unbindTooltip();
          const popup = this._popup;
          const wrapperEl = popup._wrapper;
          const buttonEl = wrapperEl.querySelector(".button.button-popup");
          const spinnerEl = wrapperEl.querySelector(".spinner-popup");
          const resultEl = wrapperEl.querySelector(".info-result");
          // const recordNumberEl = wrapperEl.querySelector(".info-record-number");
          buttonEl?.addEventListener("click", (e) => {
            const coordinates = popup._latlng;
            const coordinatesJSON = JSON.stringify(coordinates);
            const payload = {
              elementsToToggle: [spinnerEl, resultEl],
              elementsToInsertData: [resultEl],
            };
            e.target.classList.add("hidden");
            spinnerEl.classList.toggle("hidden");
            google.script.run
              .withSuccessHandler(handleSuccessButton)
              .withUserObject(payload)
              .findValueRange(coordinatesJSON);
          });
        }


        const dateLabel = lastSale ? `(${lastSaleDayCount} dni temu)` : "";
        const noDataMessage = "<span class='error'>brak danych</span>";
        const date = lastSale
          ? new Date(lastSale).toLocaleDateString()
          : noDataMessage;
        const popupTitle = `<span class="info"><strong>${client}</strong><br>${city}${address ? "," : ""
          } ${address}</span>`;
        const popupContent = `${popupTitle}
          <hr>
          <span class="info info-date"><strong>Data ostatniej sprzedaży:</strong> ${date} ${dateLabel}</span>
          <br>
          <span class="info"><strong>Wielkość sprzedaży:</strong> ${sale ? sale + "t" : noDataMessage
          }</span>
          <br>
          <span class="info"><strong>Telefon:</strong> ${telephone ? telephone : noDataMessage
          }</span>
          <br>
          <div class="container container-button">
            <button class="button button-popup">Znajdź rekord</button>
            <div class="spinner spinner-popup hidden"></div>
            <span class="info info-result hidden"></span>
          </div>`;

        const marker = L.marker([lat, lng], { icon }).addTo(map);
        const popup = L.popup().setContent(popupContent);

        marker
          .bindTooltip(popupTitle, { direction: "top" })
          .bindPopup(popup)
          .bindPopup(popup);

        marker.addEventListener("popupopen", handlePopuOpen);

        marker.addEventListener("popupclose", (e) => {
          marker.bindTooltip(popupTitle, { direction: "top" });
        });
      }
    );
    document.querySelector(".loader-modal")?.classList.add("hidden");
  };

  google.script.run.withSuccessHandler(onSuccess).getMarkers();
</script>