<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .error {
    color: #c62828;
  }

  .container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    margin-top: 10px;
  }

  button {
    display: block;
    padding: 0.6em 1.1em;
    margin: 0 auto;
    border: none;
    background-color: #ffca28;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  button:hover {
    background-color: #ffc107;
  }

  .info {
    display: inline-block;
    margin-top: 3px;
  }

  .info-date {
    max-width: 225px;
    word-wrap: break-word;
  }

  .info-record-number {
    display: block;
    font-size: 1.5em;
  }

  .info-result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loader-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }

  .loader-modal::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
  }

  .spinner {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spinner-modal-rotate 1.3s ease infinite;
  }

  .spinner-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
  }

  .spinner-popup {
    height: 30px;
    width: 30px;
    border: 3px solid #ffc107;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation-name: spinner-rotate;
  }

  @keyframes spinner-modal-rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes spinner-rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .map {
    height: 100vh;
  }

  svg>path {
    stroke: #00000031;
    stroke-width: 1px;
  }

  .icon-default>svg>path {
    fill: #009624;
  }

  .icon-hot>svg>path {
    fill: #c62828;
  }

  .icon-no-data>svg>path {
    fill: #42424277;
  }

  .icon-warning>svg>path {
    fill: #f57c00;
  }

  .icon-warning-light>svg>path {
    fill: #fdd835;
  }

  .icon-home>svg>path {
    fill: #0277bd;
    stroke: #00000017;
  }

  .hidden {
    display: none;
  }
</style>