<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <?!= include('template/mapWindow/mapWindowStyle.html'); ?>
</head>

<body class="valign-wrapper full-height">
  <div class="container">
    <form class="form form-modal row">
      <div class="input-field col s10">
        <input id="map-width" min="100" max="1000" type="number" value="100" class="validate">
        <label for="map-width">Szerokość (px)</label>
        <span class="helper-text" data-error="Minimalna wartość wynosi 100, a maksymalna 1000 pikseli"></span>
      </div>
      <div class="input-field col s10">
        <input id="map-height" min="100" max="1000" type="number" value="100" class="validate">
        <label for="map-height">Wysokość (px)</label>
        <span class="helper-text" data-error="Minimalna wartość wynosi 100, a maksymalna 1000 pikseli"></span>
      </div>

      <div class="col s12">
        <button class="btn waves-effect waves-green darken-1 transparent black-text z-depth-0 col s3"
          onclick="google.script.host.close()">Anuluj</button>
        <button class="btn waves-effect waves-light green darken-1 z-depth-0 col s3 offset-s4" type="submit"
          name="action">
          Zapisz
        </button>
      </div>
    </form>
  </div>


</body>

</html>